
html,
body,
main {
    height: 100%;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Arima Madurai', cursive;
}

body {
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body.pushable>.pusher {
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

main {
    padding-bottom: 120px;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    height: 75px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 30px;
    padding-left: 1%;
    background-image: url("../images/airportRunwayBigScreen.png");
    background-size: 100% 100%;
}

.mainContent{
    margin-bottom: 28px;
}

@media screen and (max-width: 740px) {
    footer{
        background-image: url("../images/airportRunwayMobile.png");
    }
}

#footerText {
    font-size: 0.8em;    
    color: #FFFFFF;
}



#footerTextDiv{
    color: #FFFFFF;
    position: relative;
    bottom:-60px;
    left: 0px;
    display: flex;
    font-size: 1.6em;
}

.icon.footerIcon {
    color: white;
}

.socialMediaIcons {
    position: absolute;
    bottom: 30%;
}

@media screen and (min-width: 740px) {
    .socialMediaIcons {
        left: 47%;
    }
}

@media screen and (max-width: 740px) {
    .socialMediaIcons {
        left: none;
        right: 5%;
    }
}

#holder {
    min-height: 100%;
    position: relative;
}

h1.ui.header {
    background-image: url("../images/capturing-the-human-heart-trhlcn1abmu-unsplash.jpg");
    background-position: center;
    background-size: 100%;
}



h1.ui.header>.content {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    color: #0C4A60;
    padding: 15px;
    text-shadow: 5px 5px #ABDFF1;
    font-size: 240%;
    
}
@media screen and (max-width: 740px) {
    #headingTextDiv{
        font-size: 190%;
    }
}
@media screen and (max-width: 600px) {
    #headingTextDiv{
        font-size: 150%;
    }
}
@media screen and (max-width: 490px){
    h1#headerRow{
        line-height: 150% !important;
    }
}

h1#headerRow {
    margin-bottom: 0px;
    height: 200px;
    text-align: center;
    line-height: 630%;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    font-size: 1.5em;
}

dl>dt {
    font-weight: 700;
    margin-bottom: 2px;
    color:#FFFFFF;
    font-size: 1.4em;
    font-family: 'Arima Madurai', cursive;
}

/* Example of text indentation (alignment) */
dl>dd {
    text-indent: 15px;
    margin-top: 1px;
    color: #000000;
    font-size: 1.25em;
    font-family: 'Arima Madurai', cursive;
}

fieldset {
    font-weight: 700;
    font-size: 1.3em;
    border: 3px solid #EF6C33;
    border-radius: 10px;
    padding: 15px;
    background-color:#C0B3A0;
}

 form.ui.form>fieldset>.field>label,
 form.ui.form>fieldset>.fields>.field>label{
    font-size: 1em;
    font-weight: 700;
    color: #000000;
}



/* Light background color */
form.ui.form>fieldset>.field>input,
form.ui.form>fieldset>.fields>.field>input,
form.ui.form>fieldset>.fields>.field>select,
form.ui.form>fieldset>.field>textarea {
    background-color: #F1FAEE;
}

form >textarea.field {
    background-color: #F1FAEE;
}

.menu.ui>.item {
    color: #EF6C33;
    font-weight: 700;
    font-size: 1.5em;
}

.menu.ui>.item.active {
    color: #EF6C33;
    background-color: #ABDFF1;
    border-radius: 0px;
    font-weight: 700;
}

.ui.stackable.menu .dropdown.item:hover,
.ui.stackable.menu .link.item:hover,
.ui.stackable.menu a.item:hover,
.ui.link.stackable.menu .item:hover {
    background-color: #ABDFF1;
    color: #EF6C33;
    border-radius: 0px;
    font-weight: 700;
}

section>.img-thumbnail {
    background-color:#0C4A60;
    border-radius: 10px;
    border-color: #EF6C33;
}

.row {
    padding: 10px;
}

.small-image {
    max-height: 50px;
}

.justify-center {
    justify-content: center;
}

.sectionBox {
    border: 3px solid #EF6C33;
    border-radius: 10px;
    background-color:#C0B3A0;
}

.table {
    margin: auto;
    justify-content: center;
    text-align: center;
}

a:hover {
    color: #EF6C33;
}


#descTable {
    /* background-color: #457b9d; */
    background-color: #FFFFFF;
    border: 10px solid #EF6C33;
    border-radius: 5px;
}

#logo {
    vertical-align: middle;
}

#headingMessage {
    vertical-align: middle;
    text-align: center;
}

#linkSection {
    max-height: 100px;
    
}

#desktopNavBar {
    background-color:#0C4A60;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    visibility: visible;
}

#mobileNavBar{
    visibility: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    
    border: none;
}

#menuButton{
    background-color:#0C4A60;
}

#menuButton>a{
    color: #EF6C33;
}

#sidebar{
    background-color: #0C4A60;
    font-size: 0.8em;
}

#sidebar i{
    color: #EF6C33;
}

div#welcomeBanner {
    margin-top: 0px;
    padding: 5px;
    
}




section#travelImageSection{
    align-items: center;
    font-size: 1.2em;
}

table tr{
    padding: 10px;
}


#vacations {
    position: relative;      /* recommended */
}
#vacations .MS-content {
    white-space: nowrap;     /* required */
    overflow: hidden;        /* required */
    margin: 0 5%;            /* makes room for L/R arrows */
}
#vacations .MS-content .item {
    display: inline-block;   /* required */
    width: 20%;              /* required * Determines number of visible slides */ 
    position: relative;      /* required */
    vertical-align: top;     /* required */
    overflow: hidden;        /* required */
    height: 100%;            /* recommended */
    white-space: normal;     /* recommended */
}
#vacations .MS-controls button {
    position: absolute;      /* recommended */
    top: 35px;
}
#vacations .MS-controls .MS-left {
    left: 10px;
}
#vacations .MS-controls .MS-right {
    right: 10px;
}

#cardCarousel{
    padding: 5px;
}

.item.card{
    background-color: #C0B3A0;
    height: auto;
    border: 3px solid #EF6C33;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}

img{
    width: -moz-available;
}

#welcomeBanner{
    color: #ABDFF1;
    /* display: inline; */
    font-size: 1.2em;
    text-align: center;
}

#welcomeBanner>h4{
    font-size: 1.5em;
    display: inline;
    font-family: 'Arima Madurai', cursive;
}

#sidebar>a{
    height: 20%;
    display: flex;
    justify-content: center;
}

#mobileNavBar{
    margin-bottom: 10px;
}

#desktopNavBar{
    margin-bottom: 10px;
}

#loginForm{
    width: 34%;
    margin: auto;
}

@media screen and (max-width: 770px) {
    #loginForm {
        width:100%;
    }
}


#agentCardInfo {
    margin-left: auto;
    margin-right: auto;
}

#packageContent {
    padding-top:10px;
}

.ui.card>.image>img.contactCardImage {
    width:100%; 
    height:200px; 
    /* object-fit: contain; 172.7 x 446.56 */
}

.imageDiv { 
    width:auto; 
    text-align:center; 
} 

.packageImageDiv { 
    width:auto; 
    text-align:center; 
} 

.packageImage { 
    max-width:100%; 
    height:333px; 
    border: 2px solid black;
} 

#travelImageSection{
    margin-bottom: 200px;
}

.packageWarning {
    color:red;
    font-weight: 900;
}

.ui.centered.small.image.imageDiv{
    padding: 10px;
    width:100%;
}

.ui.five.stackable.cards {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;

}
.menu.ui{
    font-family: 'Arima Madurai', cursive;
}

.menu.ui,
.ui.button{
    font-family: 'Arima Madurai', cursive;
}



p#bookingName{
    text-align: center;
    line-height: 250%;
}

p.dropdown{
    font-size: 1em;
}

a.itinerary {
    font-size: 1em;
}

div.trip {
    font-size: 1.5em;
    padding-top:5px;
    padding-bottom: 5px;
    font-weight:900;
    color: #0C4A60;
}

div.cost {
    color: #0C4A60;
    font-weight:600;
}

button.ui.button.right.floated,
div.contactButton.ui.button {
    color: black;
    background-color: #ABDFF1;
}

a.contactButton{
    color: black;
}

section.company-info,
p.company-info {
    color: #0C4A60;
    font-weight:600;
}

#modalCard {
    width:200px; 
    height:200px; 
    border: 2px solid black;
}

section.mainContent.rounded.sectionBox{
    width: 50%;
    margin: auto;
    font-size: 1.5em;
}

@media screen and (max-width: 770px) {
    section.mainContent.rounded.sectionBox {
        width:100%;
    }
}

.ui.card > .image > img.contactCardImage {
    border: 2px solid black;
}

.ui.modal,
.ui.cards > .card{
    border: 3px solid #EF6C33;
#checkBoxDiv{
    align-self: center
}

#checkBoxLabel{
    font-size: 1.3em;
    font-weight: 700;
    color: #000000;
}